<html xmlns:th="http://www.thymeleaf.org">
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Reservation Application</title>
</head>
<body>
    For Registeration click <a href="showReg">Register</a>
    <hr>
    For Login Click <a href="showLogin">Login</a>
</body>
</html>